AWSTemplateFormatVersion: 2010-09-09
Description: create Auto Scaling Group
Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      -
        Label:
          Default: AutoScaling config
        Parameters:
          - VPCStackName
Parameters:
  VPCStackName:
    Description: Base VPC StackName
    Type: String
Resources:
  # AutoScalingGroup
  EnvASG:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      AutoScalingGroupName: !Sub
        - ${VPCStackName}-${Env}-autoscaling-gp
        - Env:
            Fn::ImportValue: !Sub "${VPCStackName}-Env"
      DesiredCapacity: "2"
      MaxSize: "4"
      MinSize: "2"
      HealthCheckGracePeriod: 300
      HealthCheckType: ELB
      LaunchTemplate:
        LaunchTemplateId:
          Fn::ImportValue: !Sub "${VPCStackName}-LaunchTemplateId"
        Version:
          Fn::ImportValue: !Sub "${VPCStackName}-LaunchTemplateVersion"
      Tags:
        - Key: Name
          PropagateAtLaunch: true
          Value: !Sub
            - ${VPCStackName}-${Env}-app-autoscale
            - Env:
                Fn::ImportValue: !Sub "${VPCStackName}-Env"
        - Key: Env
          PropagateAtLaunch: false
          Value:
            Fn::ImportValue: !Sub "${VPCStackName}-Env"
      TargetGroupARNs:
        - Fn::ImportValue: !Sub "${VPCStackName}-TargetGroupArn"
      TerminationPolicies:
        - NewestInstance
        - ClosestToNextInstanceHour
      VPCZoneIdentifier:
        - Fn::ImportValue: !Sub "${VPCStackName}-PublicSubnet1A"
        - Fn::ImportValue: !Sub "${VPCStackName}-PublicSubnet1C"
